/* Custom modal content styling */

.modal-container {
    max-width: 500px;
    padding: 0;
    margin: 20px 0;
    border-radius: .3em;
    box-shadow: 0 0.1em 0.4em rgba(0,0,0,.3);
  }
  .modal-header { 
    justify-content: center !important;
  }
  .modal-title {
    font-weight: 700;
    padding: 0.5em;
    justify-content: center !important;
    font-family:   'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .modal-body {
    max-height: calc(100vh - 230px);
    min-height: 50px;
    padding: 0 1.5em 1.5em 1.5em;
    overflow-y: auto;
  }
  
  .modal-footer {
    padding: 1.5em;
    text-align: center; 
      justify-content: center !important;
  }
  
  p:first-child {
    margin-top: 0;
  }
  
  
  
  .page_main ul li {
    display: inline-block;
    width: 30%;
    height: auto;
    margin: 1.2% 1.5%;
}


/*輪播*/



  .swiper-container {
      width: 82%;
      height: auto;
      margin-bottom: -2%;/*-7%*/
      z-index: 9 !important;
      margin-left: auto;
      margin-right: auto;
  }
    

    .swiper-slide {
      background-size: 100% auto;
      background-position: center;
    }
    .swiper-slide .button3{
      width: 90%;
      display: block;
      margin: -8% -3% 0% 4%;
    }
    .swiper-slide img{
      width: 100%; 
    }
     .swiper-slide .online_button1,
     .swiper-slide .online_button2,
     .swiper-slide .online_button3,
     .swiper-slide .online_button33,
     .swiper-slide .online_button4{
      display: block;
      width: 26%;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 99;
    }
    .swiper-slide .online_button1{
      margin-left: -36.5%;
      padding-top: 52%;
    }
    .swiper-slide .online_button2{
      margin-left: -44.5%;
      padding-top: 37%;
    }
    .swiper-slide .online_button3{
      margin-left: -45%;
      padding-top: 34.5%;
    }
    .swiper-slide .online_button33{
      margin-left: -44.5%;
      padding-top: 34.5%;
    }
    .swiper-slide .online_button4{
      margin-left: -44.5%;
      padding-top: 33%;
    }


    .swiper-slide .online_button_more1,
    .swiper-slide .online_button_more2,
    .swiper-slide .online_button_more3,
    .swiper-slide .online_button_more4{
      display: block;
      width: 23%;
      position: absolute;
      top: 0;
      left: 50%; 
    }
    .swiper-slide .online_button_more1{
      margin-left: -44%;
      padding-top: 44%;
    }
    .swiper-slide .online_button_more2{
      margin-left: -44%;
      padding-top: 46%;
    }
    .swiper-slide .online_button_more3{
      margin-left: -44%;
      padding-top: 46%;
    }
    .swiper-slide .online_button_more4{
      margin-left: -44%;
      padding-top: 44%;
    }
    .swiper-slide .online_button1 img,
    .swiper-slide .online_button1 a img,
    .swiper-slide .online_button2 img,
    .swiper-slide .online_button2 a img,
    .swiper-slide .online_button3 img,
    .swiper-slide .online_button3 a img,
    .swiper-slide .online_button33 img,
    .swiper-slide .online_button33 a img,
    .swiper-slide .online_button4 img,
    .swiper-slide .online_button4 a img,
    .swiper-slide .online_button_more1 img,
    .swiper-slide .online_button_more1 a img,
    .swiper-slide .online_button_more2 img,
    .swiper-slide .online_button_more2 a img,
    .swiper-slide .online_button_more3 img,
    .swiper-slide .online_button_more3 a img,
    .swiper-slide .online_button_more4 img,
    .swiper-slide .online_button_more4 a img,
    {
      width: 100%;
    }

    .swiper-slide .divword{
      display: block;
    position: absolute;
     width: 90%; 
    font-size: 1em;
    font-family: "微軟正黑體";
    left: 1%;
    text-align: left;
    line-height: 17px;
    color: #fedae9;
    margin-left: 5%;
    padding-top: 47%;
    }
    .swiper-slide .divword a{
      text-decoration: none !important;
    }
    .swiper-slide .divword a:hover{
      color: #f9eb05;
    }

   @media screen and ( max-width: 1100px ){ 
    .swiper-slide .divword{
      display: block;
    position: absolute;
    /* width: 90%; */
    font-size: 0.7em;
    font-family: "微軟正黑體";
    left: 1%;
    text-align: left;
    line-height: 14px;
    color:#fedae9;
    margin-left: 5%;
    padding-top: 43%;
    }
   }

    .gallery-top {
      padding-top:10%;
      padding-bottom:10%;
      width: 100%;
    }

    .gallery-thumbs {
     /* height: 13vh;*/ width: 70%;
      box-sizing: border-box;
      padding: 0px 0;
    }

    .content img{ width: 100%;}
  
    .gallery-thumbs .swiper-slide { /*hover*/
      height: 100%;
      opacity: 0.8;
    }

    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1; 
    }

.swiper-button-next.swiper-button-white, .swiper-button-prev.swiper-button-white {
    --swiper-navigation-color: #efa3f1;
}
    @media screen and ( max-width: 768px ){
      .swiper-container {
         margin-bottom: 0%;/*-5%*/
      }
      .swiper-slide {
        background-size: 100% auto;
        background-position: center;
     }
      .gallery-thumbs {
        /*height: 8vh; */ width: 90%;
        box-sizing: border-box;
        padding: 0px 0;
     }
     .swiper-slide .button3 {
          width: 100%;
          display: block;
          margin: -7% 0%;
      }
    .swiper-slide .online_button_more1,
    .swiper-slide .online_button_more2,
    .swiper-slide .online_button_more3,
    .swiper-slide .online_button_more4{
      display: block;
      width: 28%;
      position: absolute;
      top: 0;
      left: 50%; 
    }
      .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
          right: -1px;
          left: auto;
      }
      .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
          left: -1px;
          right: auto;
      }
      .swiper-slide .online_button{
            display: block;
            width: 24%;
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 5%;
            padding-top: 36.5%;
      }
   }
  @media screen and ( max-width: 600px ){ 
      .swiper-button-next, .swiper-button-prev {
          position: absolute;
          top: 54%;
          width: calc(var(--swiper-navigation-size)/ 44 * 27);
          height: var(--swiper-navigation-size);
          margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
          z-index: 10;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--swiper-navigation-color,var(--swiper-theme-color));
      }
   }
   @media screen and (max-width: 550px){
      .swiper-slide .button3 {
          width: 127%;
          display: block;
          margin: -7% -13%;
      }
  }